/*
  CSS Reset (copyright Josh Comeau)
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    1. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    2. Add accessible line-height
    3. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    4. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    5. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    6. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    7. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* own Css
*/

@font-face {
    font-family: 'abhaya_libreregular';
    src: url('fonts/abhayalibre-regular-webfont.woff2') format('woff2'),
         url('fonts/abhayalibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: "abhaya_libreregular";
}
body {
    display: flex;
    background-color: black;
    
}

  .background {

    display: flex;
    background-color: rgb(225, 210, 188);

    margin-top: 2vw;
  }

  div {
    display: flex;
  }
  .textcontentbox {
    display: flex;
    flex-wrap: wrap;
    font-family: "abhaya_libreregular";
    padding-top: 30px;
    justify-items: stretch;
  }
  #firstLine {
    font-size: calc(20px + 1vw);
    font-weight: 1000;
    display: block;
    width: 100%;
  } 
  .textBoxTop {
    display: flex;
    font-size: calc(8px + 1vw);
    max-width: 1000px;
    max-height: 200px;
    padding-left: 100px;
    font-weight: 600;
    margin-right: 40px;

  }
  
  .imagecontentbox {
    position: relative;
    min-height:945px;
    min-width:600px;
    max-width:600px;
  }
  img {
  
  }
  
  .card-body {
    position: absolute;
    display: flex;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    top: 14.6rem;
  }
.test {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#submarine {
  position: absolute;
  opacity: 1;
  height: 100%;

}

.inputFields {
    display: flex;
}

  .input, .firstName, .lastName{

    display: flex;
    font-size: 20px;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  input {
    border-radius: 5px;
    margin-right: 30px;
    width: 300px;
    border: 2px solid rgb(165, 163, 163);
  }

  .inputFieldsLeft
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 300px;
    width: 100%;
    min-width: 800px;
    background-color: rgb(244, 234, 220);
    padding-left: 90px;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.46);
    
  }

  header {
  display: block;
  width: 100%;
  align-content: center;
  background-color: rgb(244, 234, 220);
  padding-left: 100px;
  max-height: 60px;
  align-self: flex-end;
  font-weight: 800;
  font-size: calc(14px + 1vw);
  
  }

  input + span {
    position: relative;
  }
  
  input[type="text"]:focus:invalid + span::after {
    font-size: 0.8rem;
    position: absolute;
    content: "* don't be shy - tell us your name!";
    color: red;
    padding: 5px 10px;
    top: -4px;
    left: -8px;
  }

  input[type="email"]:focus:invalid + span::after {
    font-size: 0.8rem;
    position: absolute;
    content: "* this E-Mail is missing an @!";
    color: red;
    padding: 5px 10px;
    top: -4px;
    left: -8px;
  }

  input[type="password"]:focus:invalid + span::after {
    font-size: 0.8rem;
    position: absolute;
    content: "* passwords require at least one number!";
    color: red;
    padding: 5px 10px;
    top: -4px;
    left: -8px;
  }

  input[type="tel"]:focus:invalid + span::after {
    font-size: 0.8rem;
    position: absolute;
    content: "* this field only accepts numbers!";
    color: red;
    padding: 5px 10px;
    top: -4px;
    left: -8px;
  }

  .textcontentbox2 {
    display: flex;
    font-size: calc(10px + 1vw);
    max-width: 800px;
    padding-left: 100px;
    padding-top: 30px;
    font-weight: bold;

  }

  .buttonContainer {
    width: 100%;
    display: block;
  }

  .btn {
margin-left: 100px;
margin-top: 30px;
font-size: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);
border: 2px solid black;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;    
  }

  .btn:hover {
    background-color: #7da0e3; /* Hintergrundfarbe beim Hover */
    color: #ffffff; /* Textfarbe beim Hover */

  }

  .btnAndText {
    display: flex;
    flex-wrap: wrap;
  }
