/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* Outer Layout! */

html {

height: 100%;
width: 100%;
font-family: "Roboto", sans-serif;

}

body {

    background-color: #efecec;
    height: 100%;

}
.outerLayout {

    display: grid;
    height: 100%;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 1fr 4fr;

}

/* search and header part*/

.header {
    background-color: white;
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.46);
}


.upperHeader {

    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}

input {
    width: 25rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #efecec;
    min-width: 0;

}

label {
    margin-left: 4rem;
    margin-right: 1.5rem;
    font-weight: 600;
}

.bell, .profilePic, .profileName {

    place-content: center;
}

.lowHeader {

    display: grid;
    grid-template-columns: 0.5fr 3fr 0.6fr 0.6fr 0.6fr;
}

.lowHeaderPicture {
    min-height: 70px;
    max-height: 70px;
    min-width: 70px;
    max-width: 70px;
    align-self: center;
    justify-self: right;
    border-radius: 50px;
    margin-right: 1rem;
}

.doubleName {

    display: grid;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
}

.firstLine::first-line {

    font-size: 0.9rem;
}

.discover {

    background-color: #ae0a0a;
    color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    place-self: center;
    border-radius: 15px;
    font-weight: 700;
    justify-self: start;
    cursor: pointer;
}

.new {

    background-color: #ae0a0a;
    color: white;
    padding: 1.95rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    place-self: center;
    border-radius: 15px;
    font-weight: 700;
    justify-self: start;
    cursor: pointer;
}

.share {

    background-color: #ae0a0a;
    color: white;
    padding: 1.65rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    place-self: center;
    border-radius: 15px;
    font-weight: 700;
    justify-self: start;
    cursor: pointer;
}


/* Sidebar */


.sidebar {

    border: 3px solid silver;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 5fr;
    gap: 50px;
    color: white;
    background-color: rgb(29, 29, 29);
    font-weight: 700;
}

.dashboard {
    grid-row: 1/2;
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 2rem;
}

.profilBox {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    font-size: 1.3rem;
    margin-left: 4rem;
}

.settingsBox {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.3rem;
    margin-left: 4rem;
}



/* Chart and MyBooks Part */

.article {

    display: grid;
    border: 3px solid silver;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.toRead {

    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 1fr;


}

.chartBox {

    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: 0.5fr 5fr;
     
}
.charttitle {

    font-size: 1.5rem;
    margin-top: 1rem;

}

.currentlyReading {

    display: grid;
    grid-template-rows: 1fr 4fr;
}

.booktitle {

    grid-row: 1/2;
    place-self: center;
    font-weight: 800;
}
.bookStats {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
}

.book {

    position: relative;
    border: 2px solid silver;
    color:rgb(128, 128, 128);
    margin: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    width: 250px;
    height: 115px;
    place-self: center;
    text-align: start;
    padding-left: 15px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.20);
    display: grid;
    grid-template-rows: 1fr 3fr;

}

.Content {

    margin-top: 0.5rem;
    text-align: center;
    color: black;
    padding-right: 10px;
}

.news {

    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;

}



/* News and Trending Part */

.news {

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcments {
    display: grid;
    grid-template-rows: 0.5fr 5fr;
}

.newsTitle {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
}

.newsContentBox {

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid silver;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.20);
    margin-right: 0.7rem;

}

.newsContent {

    border-top: 2px solid silver;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

#newsContent {
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

#newsContent::first-line, .newsContent::first-line {

    font-weight: 800;
}

/* Trending-Box */

.trending {
    display: grid;
    grid-template-rows: 0.5fr 5fr;
}
.trendingTitle {

    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
}
.trendingContentBox {

    border: 2px solid silver;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.20);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    align-items: center;
}

.trendingContentCases {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.7fr;
}

.trendingContentIcon {

    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    place-self: center;
    border-radius: 50px;
}

.trendingContentText {
justify-self: start;
align-self: center;
font-size: 0.9rem;

}

.trendingContentText::first-line {
    font-weight: 700;
}



/* For Chart-Container! */

.chartBox {

    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    font-weight: 800;
}

.containerChart {

    display: grid;
    width: 550px;
    height: 330px;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 10px;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 6px;
    place-self: center;
    margin-bottom: 1rem;
    box-shadow: 3px 6px 4px -4px rgba(0,0,0,0.20);

}


.months {

    display: grid;
    grid-row: 13/14;
    grid-column: 1/14;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    background-color: rgb(255, 255, 255);
    text-align: center;
    column-gap: 6px;
    font-weight: bold;
  
    padding-right: 3px;


}

.chartNum {

    display: grid;
    grid-column: 1/2;
    background-color: rgb(255, 255, 255);
    grid-row: 1/13;
    text-align: right;
    font-weight: 800;
    font-size: 0.8rem;
    

    
}


.chartJan {

    border: 2px solid black;
    grid-row: 7/13;
    background-color: #ae0a0a;
}

.chartFeb {

    border: 2px solid black;
    grid-row: 11/13;
    background-color: #ae0a0a;;
}

.chartMar {

    border: 2px solid black;
    grid-row: 2/13;
    background-color: #ae0a0a;;
}

.chartApr {

    border: 2px solid black;
    grid-row: 12/13;
    background-color: #ae0a0a;;
}

.chartMay {

    border: 2px solid black;
    grid-row: 5/13;
    background-color: #ae0a0a;;
}

.chartJun {

    border: 2px solid black;
    grid-row: 4/13;
    background-color: #ae0a0a;;
}

.chartJul {

    border: 2px solid black;
    grid-row: 2/13;
    background-color: #ae0a0a;;
}

.chartAug {

    border: 2px solid black;
    grid-row: 10/13;
    background-color: #ae0a0a;;
}

.chartSep {

    border: 2px solid black;
    grid-row: 9/13;
    background-color: #ae0a0a;;
}

.chartOct {

    border: 2px solid black;
    grid-row: 7/13;
    background-color: #ae0a0a;;
}

.chartNov {

    border: 2px solid black;
    grid-row: 3/13;
    background-color: #ae0a0a;;
}

.chartDez {

    border: 2px solid black;
    grid-row: 11/13;
    background-color: #ae0a0a;
    margin-right: 3px;
}

.jan, .feb, .mar {

    padding-right: 4px;
}
